@charset "utf-8";

.form-group input, .form-group select {
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 1px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    box-sizing: border-box;
}

.btn-search {
    height: 30px;
    width: 60px;
}

#article {
    margin: 20px;
}

th {
    border-right: 1px dotted lightgray;
}

th:last-child {
    border-right: none;
}

td, th {
    
    border-bottom: 1px dotted;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}



.subject {
    text-align: left;
}

colgroup {
    display: table-column-group;
}

.board-table {
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;

}

.board-search-container {
    
    position: relative;
    
    padding: 15px 30px;
    margin-top: 30px;
    text-align: center;
}

.form-group {
    display: inline-block;
    margin: 0;

}