@charset "utf-8";

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, body,
 p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
 del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
 sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, input, 
 fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

.clear {
    clear: both;
}

body {
    margin: auto;
    width: 1200px;
}

#header {

    height: 60px;
    margin: 0;
    padding: 0;
    background-color: beige;
    position: relative;
}

.logo a{
    width: 150px;
    background-color: bisque;
    text-align: center;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: black;
    float: left;
}

.logo-side {
    background-color: brown;
    height: 60px;
    width: 320px;
    text-align: center;
    position: relative;
    line-height: 55px;
    float: right;

}

#gnav {
    
    background-color: blueviolet;
    width: auto;
    
}

#gnav ul {
    margin: 0;
    padding: 0;
}

#gnav ul li {
    list-style-type: none;
    background-color: aqua;
    width: 200px;
    text-align: center;
    float: left;
}

#gnav a {
   display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;

}

#gnav a:hover {
    background-color: black;
    color: white;
}

hr {
    margin: 0;
    padding: 0;
    background-color: black;
}

#main {
    width: 100%;
    background-color: lightslategray;
    
    display: flex;
}

#article {
    background-color: bisque;
    width: 75%;
    border: 0;
    padding: 0;
    margin: 0;
       
}

#aside {
    background-color: gray;
    width: 25%;
    border: 0;
    padding: 0;
    margin: 0;
    height: 20px;
    
    position: sticky;
    top: 0;
    
}


.detail-search {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.view-list {
    width: 720px;
    margin: auto;
    background-color: aquamarine;
}

.view-list ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.view-list ul li a {
    display: block;
    background-color: white;
}

.view-list ul li {
    list-style-type: none;
    width: 33%;
    height: 420px;
    margin-left: 0.3%;
    margin-bottom: 10px;
    float: left;
    background-color: red;
    display: block;
    

}

.list-image img{
    padding: 0;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.list-preview {
    
    text-align: center;
    height: 190px;
    background-color: blueviolet;
}





#footer {
    
    background-color: darkkhaki;
    height: 100px;
    line-height: 100px;
}

#footer h5 {
    
    text-align: center;
    

}