@charset "utf-8";


.detail-search {
    background-color: white;
    width: 800px;
    height: 365px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    

}

.detail-search ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.detail-search button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    background-color: #bcbcbc;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
}

.local-list1 {
    overflow: hidden;
    float: left;
    position: relative;
    width: 190px;
    height: 365px;
    
    border-right: 1px solid #bcbcbc;
}

.local-list2 {
    overflow: hidden;
    overflow-y: scroll;
    float: left;
    position: relative;
    width: 230px;
    height: 365px;
    
}

.local-list3 {
    float: left;
    width: 379px;
    height: 365px;
    text-align: center;
    line-height: 365px;

}

.local-list3-map {
    width: 350px;
    height: 100%;
    margin: auto;
}


.detail-search li {
    overflow: hidden;
    float: left;
    text-align: center;
    margin: 0 1px 10px 7px;
    padding: 0 7px;
    display: list-item;
    width: 70px;
    
}


.view-list {
    width: 720px;
    margin: auto;
    background-color: aquamarine;
}

.view-list ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.view-list ul li a {
    display: block;
    background-color: white;
}

.view-list ul li {
    list-style-type: none;
    width: 33%;
    height: 420px;
    margin-left: 0.3%;
    margin-bottom: 10px;
    float: left;
    background-color: red;
    display: block;
    

}

.list-image img{
    padding: 0;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.list-preview {
    
    text-align: center;
    height: 190px;
    background-color: blueviolet;
}




