@charset "utf-8";


.detail-search {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.view-list {
    width: 720px;
    margin: auto;
    background-color: aquamarine;
}

.view-list ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.view-list ul li a {
    display: block;
    background-color: white;
}

.view-list ul li {
    list-style-type: none;
    width: 33%;
    height: 420px;
    margin-left: 0.3%;
    margin-bottom: 10px;
    float: left;
    background-color: red;
    display: block;
    

}

.list-image img{
    padding: 0;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.list-preview {
    
    text-align: center;
    height: 190px;
    background-color: blueviolet;
}




