@charset "utf-8";




.detail-search {
    margin: 50px auto;
}

.detail-search-form {
    background-color: blue;
    margin: auto;
    width: 500px;
    height: 300px;
    
}

.select-search {
    float: left;
    width: 50%;
}

.select-search-table {
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    border-collapse: separate;
    text-align: center;
    border-spacing: 10px;
    
    
}

.select-search-table button {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    
}

.select-search-table button:hover {
    zoom: 1.2;
}

.select-search-table td {

    width: 150px;
    height: 50px;
    
}

.show-news {
    float: left;
    width: 50%;
}

.show-news-table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

.show-news-table th {
    border-right: 1px dotted;
    text-align: left;
    padding: 5px;
    width: 70px;
    
}

.show-news-table td {
    padding: 5px;
}
