@charset "utf-8";


html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, body,
 p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
 del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
 sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, input, 
 fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
 }

 body {
     width: 1200px;
     margin: auto;
 }

#header {
    
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: beige;
    
}

.logo {
    padding: 10px;
    width: 150px;
    background-color: bisque;
    text-align: center;
    float: left;
}

.logo-side {
    background-color: brown;
    padding: 15px;
    width: 320px;
    
    float: right;
}

#gnav {
    clear: both;
    background-color: blueviolet;

    width: auto;
}

#gnav ul{
    
    margin: 0;
    padding: 0;
    
}

#gnav ul li {
    list-style-type: none;
    float: left;
    background-color: aqua;
    width: 200px;
    text-align: center;
}

#gnav a {
   display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;

}

#gnav a:hover {
    background-color: black;
    color: white;
}

hr {
    
    background-color: aqua;
    margin: 0;
    padding: 0;
}

#maindiv {
    background-color: lightslategray;
    width: 100%;
    
}

#main {
    background-color: bisque;
    width: 75%;
    border: 0;
    padding: 0;
    margin: 0;
    float: left;

}

#article {
    background-color: grey;
    width: 25%;
    border: 0;
    padding: 0;
    margin: 0;

    float: left;
    position: sticky;
   
    
}



#article {
    border: 0px solid black;
}

.myinform {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#searchFrame {
    background-color: blue;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
    
}

.fixSearch table {
    margin: 100px;
    margin-right: 100px;
    border-collapse: collapse;
}

.fixSearch td{
    padding: 10px;
    border: 20px solid white;
    background-color: brown;
}

#article2 {
    background-color: aqua;
    display: flex;

}

.news {
    width: 150px;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    
}

#footer {
    clear: both;
    background-color: darkkhaki;
    height: 100px;
    
}

#footer h5 {
    text-align: center;
    
}