@charset "utf-8";




.detail-search {
    background-color: white;
    width: 800px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;

}

.detail-search ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.detail-search button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    background-color: #bcbcbc;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
}

.local-list1 {
    overflow: hidden;
    float: left;
    position: relative;
    width: 190px;
    height: 350px;
    
    border-right: 1px solid #bcbcbc;
}

.local-list2 {
    overflow: hidden;
    overflow-y: scroll;
    float: left;
    position: relative;
    width: 230px;
    height: 350px;
    border-right: 1px solid #bcbcbc;
}

.detail-search li {
    overflow: hidden;
    float: left;
    text-align: center;
    margin: 0 1px 10px 7px;
    padding: 0 7px;
    display: list-item;
    width: 70px;
    
}

.select-search {
    float: left;
    width: 50%;
}

.select-search-table {
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    border-collapse: separate;
    text-align: center;
    border-spacing: 10px;
    
    
}

.select-search-table button {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    
}

.select-search-table button:hover {
    zoom: 1.2;
}

.select-search-table td {

    width: 150px;
    height: 50px;
    
}

.show-news {
    float: left;
    width: 50%;
}

.show-news-table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

.show-news-table th {
    border-right: 1px dotted;
    text-align: left;
    padding: 5px;
    width: 70px;
    
}

.show-news-table td {
    padding: 5px;
}
