@charset "utf-8";

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, body,
 p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
 del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
 sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, input, 
 fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

.clear {
    clear: both;
}

body {
    margin: auto;
    width: 1200px;
}

#header {
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: beige;
    position: relative;
}

.logo a {
    width: 150px;
    background-color: bisque;
    text-align: center;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: black;
    float: left;
}

.logo-side {
    background-color: brown;
    height: 60px;
    width: 320px;
    text-align: center;
    position: relative;
    line-height: 55px;
    float: right;
}

#gnav {
    
    background-color: blueviolet;
    width: auto;
    
}

#gnav ul {
    margin: 0;
    padding: 0;
}

#gnav ul li {
    list-style-type: none;
    background-color: aqua;
    width: 200px;
    text-align: center;
    float: left;
}

#gnav a {
   display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;

}

#gnav a:hover {
    background-color: black;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: black;
}


#main {
    width: 100%;
    background-color: lightslategray;
    
    display: flex;
}

#article {
    background-color: bisque;
    width: 75%;
    border: 0;
    padding: 0;
    margin: 0;
       
}

.form {
    background-color: white;
    width: 600px;
    height: auto;
    margin: auto;
    border: 1px solid black;
}

.label-form {
    background-color: lightgray;
    border-bottom: 1px solid black;
    height: 30px;
    line-height: 30px;

}

.label-form label {
    
    font-size: 15pt;
}

.address-form {
    background-color: beige;
    height: 82px;
    line-height: 40px;

}


.address-form label {

    display: inline-block;

    margin: 0;
    padding: 0;

    background-color: yellow;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;

    border: 1px solid black;
    
}

.address-form input {
    display: inline-block;

    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;

    background-color: orange;
}

.picture {
    background-color: beige;
    height: 80px;
}


.add-picture {

}


.detail-info-frame {
    
}



.detail-info-frame label {
    width: 288px;
    border: 0;
    
    line-height: 50px;
    
}



.detail-info-frame .detail-label {
    
    border-right: 1px solid;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
}

.detail-info-frame input {
    margin: 9px;
    height: 30px;
    width: 170px;
    
}

.deposit, .rent, .room-structure, .maintenance-cost, .room-size, .floor,
.direction, .room-option , .loan, .companion-animal, .parking, .move-in,
.title-name, .detail-explanation, .host-existence {
    display: flex;
    
}

.room-structure select {
    
    margin: 10px;
    width: 100px;
    height: 30px;
}



.maintenance-cost .detail-label {
    height: 101px;
    line-height: 101px;
    
}

.maintenance-cost-inner1 {

    width: 479px;
    height: 50px;
    
}

.maintenance-cost-inner2 {
    
    display: inline-block;
    width: 479px;
    height: 50px;
    
}





.maintenance-cost-inner2 label {
    
    display: block;
    background-color: beige;
    
    text-align: center;
    height: 50px;
    
}




#aside {
    background-color: gray;
    width: 25%;
    border: 0;
    padding: 0;
    margin: 0;
    height: 20px;
    
    position: sticky;
    top: 0;
    
}





#footer {
    
    background-color: darkkhaki;
    height: 100px;
    line-height: 100px;
}

#footer h5 {
    
    text-align: center;
    

}