@charset "utf-8";



.form {
    background-color: white;
    width: 600px;
    height: auto;
    margin: 50px auto;
    border: 1px solid black;
}

.label-form {
    background-color: lightgray;
    border-bottom: 1px solid black;
    height: 30px;
    line-height: 30px;

}

.label-form label {
    
    font-size: 15pt;
}

.address-form {
    background-color: beige;
    height: 82px;
    line-height: 40px;

}


.address-form label {

    display: inline-block;

    margin-top: 4px;
    margin-left: 5px;
    padding: 0;

    background-color: yellow;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    border: 1px solid black;
    border-radius: 4px;
    
}

.address-form input {
    display: inline-block;

    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;

    background-color: orange;
}

.picture {
    background-color: beige;
    height: 80px;
}


.add-picture {

}


.detail-info-frame {
    
}



.detail-info-frame label {
    width: 288px;
    border: 0;
    
    line-height: 50px;
    
}



.detail-info-frame .detail-label {
    
    border-right: 1px solid;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
}

.detail-info-frame input {
    margin: 9px;
    height: 30px;
    width: 170px;
    
}

.deposit, .rent, .room-structure, .maintenance-cost, .room-size, .floor,
.direction, .room-option , .loan, .companion-animal, .parking, .elevator, 
.move-in, .title-name, .detail-explanation, .host-existence {
    display: flex;
    
}

.room-structure select {
    
    margin: 10px;
    width: 100px;
    height: 30px;
}



.maintenance-cost .detail-label {
    height: 101px;
    line-height: 101px;
    
}

.maintenance-cost-inner1 {

    width: 479px;
    height: 50px;
    
}

.maintenance-cost-inner2 {
    
    display: flex;
    width: 479px;
    height: 50px;
    
}

.maintenance-cost-inner2 .c {
    
    width: 130px;
}

input[type=checkbox] {
    zoom: 0.6;
    width: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

input[type=radio] {
    zoom: 0.6;
    width: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.room-size .detail-label {
    height: 69px;
    line-height: 69px;
}

.room-size-inner-container input {
    height: 25px;
}

.room-size-inner-container {
    margin: 5px;
    width: 469px;
}

.room-size-inner-container input {
    border: 1px solid;
    width: 50px;
    margin: 0;
}

.room-size-inner-container-top {
    margin-bottom: 5px;
}

.floor input {
    border: 1px solid;
    width: 50px;
    font-size: 15px;
    text-align: right;
    padding-right: 5px;
}

.direction select {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.room-option .detail-label {
    height: 80px;
    line-height: 80px;
}


.room-option-container {
    width: 479px;
}



.room-option-container label {
    display: inline-block;
    width: 115px;
    line-height: 0;
    margin-top: 7px;
     
}

.loan .detail-label {
    height: 101px;
    line-height: 101px;
}

.loan-container {
    width: 479px;

}

.loan-container-top {
    height: 50px;
    margin-left: 5px;

}

.loan-container-bottom {
    height: 50px;
    margin-left: 5px;
}

.companion-animal-container {
    margin-left: 5px;
    width: 474px;
    
}

.parking-container {
    margin-left: 5px;
    width: 474px;
    
}

.elevator-container {
    margin-left: 5px;
    width: 474px;
    
}

.move-in-container {
    margin-left: 5px;
    width: 474px;
    line-height: 50px;
}

.move-in-container input{
    width: 50px;
    height: 27px;
    border: 1px solid;
}


.title-name-container {
    
    width: 479px;
}

.title-name-container input {
    width: 460px;
    height: 30px;
    margin: 9px 8.5px;
    
    border: 1px solid;
}


.detail-explanation .detail-label {
    height: 200px;
}

.detail-explanation-container {
    width: 479px;
    
}

.detail-explanation-container textarea {
    width: 450px;
    margin: 9px 8.5px;
    height: 176px;
    padding: 0;
}

.host-existence-container label+label {
    margin-left: 100px;
}