@charset "utf-8";



.form {
    width: 800px;
    height: auto;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 10px;
}

.label-form {
    background-color: #E6F9FE;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    line-height: 50px;
    padding: 5px 20px;

}

.label-form label {
    
    font-size: 22px;

}

.address-form {
    height: 130px;
    line-height: 40px;
}

.address-form div {
    height: 65px;
    
    
}

.address-form div:first-child {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.address-form label {
    display: inline-block;

    margin-top: 16px;
    margin-left: 10px;
    padding: 0;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    
}

.address-form input {
    display: inline-block;

    width: 300px;
    height: 30px;
    margin-top: 16px;
    margin-left: 20px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}




.add-picture-container {
    width: 90%;
    margin: auto;
    
}


.add-picture-container li {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 18px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.add-picture-container span {
    font-size: 3.5em;
    color: rgb(0, 0, 0, 0.2);
}



.detail-info-frame label {
    width: 288px;
    border: 0;
    
    line-height: 50px;
    
}



.detail-info-frame .detail-label {
    
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
}

.detail-info-frame input {
    margin: 9px;
    height: 30px;
    width: 170px;
    
}

.deposit, .rent, .room-structure, .maintenance-cost, .room-size, .floor,
.direction, .room-option , .loan, .companion-animal, .parking, .elevator, 
.move-in, .title-name, .detail-explanation, .host-existence {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    
}

.host-existence {
    border-bottom: 0;
}




.room-structure select {
    
    margin: 10px;
    width: 100px;
    height: 30px;
}



.maintenance-cost .detail-label {
    height: 101px;
    line-height: 101px;
    
}

.maintenance-cost-inner {
    width: 679px;
}

.maintenance-cost-inner1 {

    
    height: 50px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    
}

.maintenance-cost-inner2 {
    
    display: flex;
    
    height: 50px;
    
}

.maintenance-cost-inner2 .c {
    
    width: 140px;
    margin-left: 9px;
}

.maintenance-cost-inner2 .a {
    margin-right: 10px;
}



input[type=checkbox] {
    zoom: 0.6;
    width: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

input[type=radio] {
    zoom: 0.6;
    width: 50px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.room-size .detail-label {
    height: 94px;
    line-height: 94px;
}

.room-size-inner-container input {
    height: 25px;
}

.room-size-inner-container {
    margin: 5px;
    width: 469px;
}

.room-size-inner-container input {
    border: 1px solid;
    width: 50px;
    margin: 0;
}

.room-size-inner-container-top, .room-size-inner-container-bottom {
    margin:10px 5px;
}

.floor input {
    border: 1px solid;
    width: 50px;
    font-size: 15px;
    text-align: right;
    padding-right: 5px;
}

.direction select {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.room-option .detail-label {
    height: 106px;
    line-height: 106px;
}


.room-option-container {
    width: 679px;
    padding: 5px 0;
}



.room-option-container label {
    display: inline-block;
    width: 115px;
    line-height: 0;
    margin: 7px;
     
}

.loan .detail-label {
    height: 101px;
    line-height: 101px;
}

.loan-container {
    width: 679px;

}

.loan-container-top {
    height: 50px;
    padding-left: 5px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);

}

.loan-container-bottom {
    height: 50px;
    padding-left: 5px;
}

.loan-container-bottom label {
    margin-right: 15px;
}

.companion-animal-container {
    margin-left: 5px;
    width: 474px;
    
}

.parking-container {
    margin-left: 5px;
    width: 474px;
    
}

.elevator-container {
    margin-left: 5px;
    width: 474px;
    
}

.move-in-container {
    margin-left: 5px;
    width: 474px;
    line-height: 50px;
}

.move-in-container input{
    width: 50px;
    height: 27px;
    border: 1px solid;
}


.title-name .detail-label {
    height: 62px;
    line-height: 62px;
}

.title-name-container {
    
    width: 679px;
}

.title-name-container input {
    width: 647px;
    height: 30px;
    margin: 15px;
    
    border: 1px solid;
}


.detail-explanation .detail-label {
    height: 220px;
    line-height: 220px;
}

.detail-explanation-container {
    width: 679px;
    
}

.detail-explanation-container textarea {
    width: 647px;
    margin: 15px;
    height: 184px;
    padding: 0;
}

.host-existence-container label+label {
    margin-left: 150px;
}