@charset "utf-8";



#header {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #E6F9FE;
}

#header h1 {
    font-size: 30px;
}


.main-container {
    overflow-y: auto;
    width: 80%;
    margin: auto;
    background-color: #E6F9FE;
}


button {
    
    background-color: #E6F9FE;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 0;
    padding: 2px 5px;
    margin-left: 10px;
    margin-top: 2px;
}


.signup-container {
    
    width: 80%;
    
    margin: 0 auto;
    margin-bottom: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.signup-form {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    
}

.signup-table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    
}

.signup-table th, td {

    display: table-cell;
    font-size: 20px;
}

.signup-table th {
    width: 25%;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}

.signup-table td {
    vertical-align: middle;

    
}

.signup-table input {
    background-color: aliceblue;
    border: 1px solid;
    box-shadow: 1px 1px 3px 0;
    border-radius: 7px;
    height: 35px;
    width: 66%;
    margin-bottom: 5px;
}

.table-sub-coment td {
    vertical-align: top;
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.5);
    height: 35px;
}










@media screen and (max-width: 1200px) {

    #header {
        width: 960px;
    }

    .main-container {
        width: 960px;
    }
    
}